<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SILVER_INVENTORY.Properties.Settings.SILV_INVENTORYConnectionString"
            connectionString="Data Source=POSSERVER01;Initial Catalog=SILV_INVENTORY;Persist Security Info=True;User ID=sa;Password=Epicor123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>