<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
        <add name="SILVER_ONE_ERP.Settings.SILVER_ERPConnectionString"
            connectionString="Data Source=DEVELOPERSIBDE2\SQLEXPRESS;Initial Catalog=SILVER_ERP;Persist Security Info=True;User ID=sa;Password=1992"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>